.button-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
}

.custom-button {
  padding: 12px 24px;
  border: none;
  border-radius: 16px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #2980b9;
}

.u-section-1 .u-sheet-1 {
  min-height: 986px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 70px 0 0;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
  height: auto;
  min-height: 607px;
  margin-top: 67px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}
